<div class="row">
  <div class="large-12 medium-12 small-12">
    <h1><span id="employee_name"><%= employee['first_name'] %> <%= employee['last_name'] %></span></h1>
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="large-1 medium-1 small-3 columns left"><label>NetID:</label></div>
    <div class="large-3 medium-3 small-9 columns left"><span id="employee_net_id"><%= employee['net_id'].blank? ? '(No NetID)' : employee['net_id'] %></span></div>
    <div class="large-2 medium-2 small-3 columns left"><label>Home Orgn: </label></div>
    <div class="large-6 medium-6 small-9 columns left"><span id="employee_home_org"><%= employee['home_org'] %> - <%= employee['home_org_desc'] %></span></div>
  </div>
  <div class="row">
    <div class="large-1 medium-1 small-3 columns left"><label>NDID:</label></div>
    <div class="large-3 medium-3 small-9 columns left"><span id="employee_nd_id"><%= employee['ndid'] %></span></div>
    <div class="large-2 medium-2 small-3 columns left"><label>Primary Title: </label></div>
    <div class="large-6 medium-6 small-9 columns left"><span id="employee_title"><%= employee['active_primary_title'].blank? ? '' : employee['active_primary_title'] %></span></div>
  </div>
</div>
