          <script type="text/javascript">
            $(document).ready(function() {

              $('#b_nd_employee_lookup_find').click( function() {
                nd_employee_lookup_find(); });
              $('.execute_on_return').keypress( function( event) { doActionOnReturn( event, this.id); });

            });
          </script>
          <div data-alert class="alert-box warning" id="nd_employee_lookup_alert_box_div" style="display:none;">
              <span id="nd_employee_lookup_alert_text"></span>
              <a href="#" class="close">&times;</a>
          </div>

          <div class="row" id="name_row">
            <div class="large-6 medium-6 small-12 columns">
            <%= label_tag :nd_employee_lookup_last_name, "Last Name" %>
            <%= text_field_tag(:nd_employee_lookup_last_name, nil, {:class => "execute_on_return", :autofocus => true, :tabindex => 1}) %>
            </div>
            <div class="large-6 medium-6 small-12 columns">
            <%= label_tag :nd_employee_lookup_first_name, "First Name" %>
            <%= text_field_tag(:nd_employee_lookup_first_name, nil, {:class => "execute_on_return", :tabindex => 2}) %>
            </div>
          </div>
          <div class="row" >
            <div class="large-6 medium-6 small-12 columns">
            <%= label_tag :nd_employee_lookup_net_id, "NetID or ndID" %>
            <%= text_field_tag(:nd_employee_lookup_net_id, nil, {:class => "execute_on_return", :tabindex => 3}) %>
            </div>
          </div>
          <div class="row">
            <% status = nil if local_assigns[:status].nil? %>
            <%= hidden_field_tag(:nd_employee_lookup_status, status) %>
            <div class="column left large-3 small-3"><%= link_to "Find", "javascript: void(0);", class: "button", id: "b_nd_employee_lookup_find" %>

            </div>
            <div class="column left large-1 small-1">
              <div id="nd_employee_lookup_find_employee_processing" >&nbsp;
              </div>
            </div>
          </div>

          <div id="nd_employee_lookup_select_employee" class="reveal-modal" data-reveal>
            <h2>Select the Correct Employee</h2>
            <p>Click on one of the following employees to select.  Note: Only the first 30 matching employees are listed. If the employee you are looking for is not listed, refine your search and try again.</p>
            <div id="nd_employee_lookup_select_employee_list">
            </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
