<script>
var  refresh_new_amounts = false;

$(document).ready(function() {

  $('#b_find_employee').click( function() {
    emp_lookup(); });
  $('#edit_employee_button').click( function() {
    change_employee(); });
  $('#close_edit_employee_button').click( function() {
    close_without_editing_employee(); });

  disableConfirmExit();
  $(document).on('submit','form',function(){
    disableConfirmExit();
    $('#submit_processing').addClass('ajax-processing');
    return(true);
  });

  //$(function(){ $('.datepicker').datepicker().mask("99/99/9999",{placeholder:"mm/dd/yyyy"}); });

  //enable_notifications();

  $('.notification_approval_cb').on('change',function() {set_work_flow_type_on_approval_checkbox_change (this)});

  $('.execute_on_return').keypress( function( event) { doActionOnReturn( event, this.id); });

  $('#b_save').click( function() {
    $('#submit_type').val("Save");
    if ($('form.new_financial_document').length){

      $('#review_form_processing').addClass('ajax-processing');
      $('form.new_financial_document').submit(); }
    else {
      $('#review_form_processing').addClass('ajax-processing');
      $('form.edit_financial_document').submit(); }
  });

});

</script>
<div class="row">
  <div class="large-12 medium-12 small-12">
    <h1>Employee Lookup</h1>
  </div>
</div>

<% ff = nil %>
<div id="new_form">
  <div class="row" id="employee_row" <% if ff.nil? %> style="margin-bottom: 100px;"<% end %>>
    <div class="large-12 medium-12 small-12">
      <div style="position: relative;">
        <div class="edit-content ec-link" id="edit_employee_button" <% if ff.nil? %>style="display:none; "<% end %>>&nbsp;</div>
        <div class="close-content ec-link" id="close_edit_employee_button" <% if ff.nil? %>style="display:none; "<% end %>>&nbsp;</div>

        <div id="employee_edit" class="ldc_right_col_content"  <% unless ff.nil? %>style="display:none; "<% end %>>
          <div id="employee_lookup_api_error" class="ldc_error" style="display:none;">The API for employee lookup returned an error.  Please check your code.</div>
          <div id="employee_not_found" class="ldc_error" style="display:none;">An employee could not be found with the provided information.  Please check your entries and try again.</div>
          <div id="employee_invalid_entries" class="ldc_error" style="display:none;">Invalid entries.  You must provide part or all of the last name -OR- part or all of the NetID.  First name is optional.</div>
          <div class="row" id="name_row">
            <div class="large-6 medium-6 small-12 columns">
              <%= label_tag :s_last_name, "Last Name" %>
              <%= text_field_tag(:s_last_name, nil, {:class => "execute_on_return"}) %>
            </div>
            <div class="large-6 medium-6 small-12 columns left">
              <%= label_tag :s_first_name, "First Name" %>
              <%= text_field_tag(:s_first_name, nil, {:class => "execute_on_return"}) %>
            </div>
          </div>
          <div class="row">
            <div class="large-6 medium-6 small-6 columns">
              <%= label_tag :s_net_id, "NetID or ndID" %>
              <%= text_field_tag(:s_net_id, nil, maxlength: 9, :class => "execute_on_return") %>
            </div>
          </div>
          <div class="column left large-3 small-3"><%= link_to "Find", "javascript: void(0);", class: "button", id: "b_find_employee" %></div>
          <div class="column left large-1 small-1"><div id="find_employee_processing" >&nbsp;</div></div>
        </div>
        <div id="employee_display" class="ldc_right_col_content"  <% if ff.nil? %>style="display:none; "<% end %>>

          <div class="row ">
            <div class="large-12 medium-12 small-12 columns left "><div class="ldc_display_heading"><span class="text_nw ldc_display_bold">Name: </span><span id="employee_name"></span></div></div>
          </div>
          <div class="row ldc_display">
            <div class="large-1 medium-1 small-3 columns left"><label class="text_nw">NetID:</label></div>
            <div class="large-3 medium-3 small-9 columns left"><span id="employee_net_id">&nbsp;</span></div>
            <div class="large-2 medium-2 small-3 columns left"><label class="text_nw">Home Orgn: </label></div>
            <div class="large-6 medium-6 small-9 columns left"><span id="employee_home_org">&nbsp;</span></div>

          </div>
          <div class="row ldc_display">
            <div class="large-1 medium-1 small-3 columns left"><label class="text_nw">ndID:</label></div>
            <div class="large-3 medium-3 small-9 columns left"><span id="employee_nd_id">&nbsp;</span></div>
            <div class="large-2 medium-2 small-3 columns left"><label class="text_nw">Primary Title: </label></div>
            <div class="large-6 medium-6 small-9 columns left"><span id="employee_title">&nbsp;</span></div>
          </div>

        </div>
      </div>
  </div></div>

  <div id="select_employee" class="reveal-modal" data-reveal>
    <h2>Select the Correct Employee</h2>
    <p>Click on one of the following employees to select.  Note: Only the first 30 matching employees are listed. If the employee you are looking for is not listed, refine your search and try again.</p>
    <div id="select_employee_list">
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
